   EXISTS_PS : constant gse.Prepared_Statement := gse.Prepare( 
        "select 1 from $tableName where $pkqs", 
        On_Server => True );
        
   $functionHeader
      params : gse.SQL_Parameters := Get_Configured_Retrieve_Params;
#for pr in $primaryKeyStrings:
      $pr;
#end for;
      cursor : gse.Forward_Cursor;
      local_connection : Database_Connection;
      is_local_connection : Boolean;
      found : Boolean;        
   begin 
      if( connection = null )then
         local_connection := Connection_Pool.Lease;
         is_local_connection := True;
      else
         local_connection := connection;          
         is_local_connection := False;
      end if;
#for pr in $primaryKeyParams:
      $pr;
#end for;
      cursor.Fetch( local_connection, EXISTS_PS, params );
      Check_Result( local_connection );
      found := gse.Has_Row( cursor );
      if( is_local_connection )then
         Connection_Pool.Return_Connection( local_connection );
      end if;
      return found;
   end Exists;
