--
-- Created by Ada Mill (https://github.com/grahamstark/ada_mill)
-- 


with Ada.Calendar;
with Ada.Exceptions;
with Ada.Strings.Unbounded; 

with GNATColl.Traces;

with AUnit.Assertions;             
with AUnit.Test_Cases; 

with Base_Types;
with Environment;

with DB_Commons;
with $datapackage;

with Connection_Pool;

#for $dbpack in $dbPackages:
with $dbpack;
#end for

#for $opack in $otherPackages:
with $opack;
#end for

-- === CUSTOM IMPORTS START ===
#for $e in $customImports 
$e
#end for
-- === CUSTOM IMPORTS END ===

package body $testName is

   RECORDS_TO_ADD     : constant integer := 100;
   RECORDS_TO_DELETE  : constant integer := 50;
   RECORDS_TO_ALTER   : constant integer := 50;
   
   package d renames DB_Commons;
   
   use Base_Types;
   use ada.strings.Unbounded;
   use $datapackage;
   #for $opack in $otherPackages:
   use $opack;
   #end for

   log_trace : GNATColl.Traces.Trace_Handle := GNATColl.Traces.Create( "$testName_Upper_Case" );
   
   procedure Log( s : String ) is
   begin
      GNATColl.Traces.Trace( log_trace, s );
   end Log;

   
      -- === CUSTOM TYPES START ===
#for $e in $customTypes 
$e
#end for
   -- === CUSTOM TYPES END ===

   use AUnit.Test_Cases;
   use AUnit.Assertions;
   use AUnit.Test_Cases.Registration;
   
   use Ada.Strings.Unbounded;
   use Ada.Exceptions;
   use Ada.Calendar;
   
#for $test in $createTests:
   $test
#end for
   
#for $test in $childTests:
   $test
#end for
   
   
   procedure Register_Tests (T : in out Test_Case) is
   begin
      --
      -- Tests of record creation/deletion
      --
#for $test in $createRegisters:
      $test
#end for
      --
      -- Tests of foreign key relationships
      --
#for $test in $childRegisters:
      --  not implemented yet $test
#end for
   end Register_Tests;
   
   --  Register routines to be run
   
   
   function Name ( t : Test_Case ) return Message_String is
   begin
      return Format( "$testName Test Suite" );
   end Name;

   -- === CUSTOM PROCS START ===
#for $e in $customProcs
$e
#end for
   -- === CUSTOM PROCS END ===
   
   --  Preparation performed before each routine:
   procedure Set_Up( t : in out Test_Case ) is
   begin
      Connection_Pool.Initialise( 10 ); 
      GNATColl.Traces.Parse_Config_File( "$logFileName" );
   end Set_Up;
   
   --  Preparation performed after each routine:
   procedure Shut_Down( t : in out Test_Case ) is
   begin
      Connection_Pool.Shutdown;
   end Shut_Down;
   
   
begin
   null;
end $testName;
