   $procedureHeader   
      ps : sql.SQLHDBC := sql.SQL_NULL_HANDLE;
      local_connection : Database_Connection;
      locally_allocated_connection : Boolean;

      query : Unbounded_String := INSERT_PART & To_Unbounded_String(" ");
      c : d.Criteria;
      $tmpVariableWithAssignment;
   begin
      if( connection = Null_Database_Connection )then
         local_connection := Connection_Pool.Lease;
         locally_allocated_connection := True;
      else
         local_connection := connection;
         locally_allocated_connection := False;         
      end if;
#if $has_pk:    
      if( overwrite ) then
         $retrieveByPK;
         $existsCheck
            $updateCall;
            return;
         end if;
      end if;
#end if      
#for $cr in $allCriteria:
      $cr;
#end for;
      query := query & "( "  & d.To_Crude_Array_Of_Values( c ) & " )";
      Log( "save; executing query" & To_String(query) );
      begin
         ps := dodbc.Initialise_Prepared_Statement( local_connection.connection, query );       
         SQLExecute( ps );
         Log( "save; execute query OK" );         
      exception 
         when Error : others =>
            Log( "save; execute query failed with message " & Exception_Information(Error)  );
            Raise_Exception( d.DB_Exception'Identity, 
               "save: exception thrown " & Exception_Information(Error) );
      end;
      begin
         dodbc.Close_Prepared_Statement( ps );
         if( locally_allocated_connection )then
            Connection_Pool.Return_Connection( local_connection );
         end if;
      exception 
         when Error : others =>
            Log( "save/close " & Exception_Information(Error)  );
            Raise_Exception( d.DB_Exception'Identity, 
               "save/close: exception " & Exception_Information(Error) );
      end;
      
   end Save;

