--
-- Created by ada_generator.py on $date
-- 
with GNATCOLL.SQL.Exec;
-- === CUSTOM IMPORTS START ===
#for $e in $customImports 
$e 
#end for
-- === CUSTOM IMPORTS END ===

package DB_Commons.PSQL is
     
   package dexec renames GNATCOLL.SQL.Exec; 
     
   -- === CUSTOM TYPES START ===
#for $e in $customTypes 
$e 
#end for
   -- === CUSTOM TYPES END ===
   
   procedure Execute_Script( connection : dexec.Database_Connection; script : String );
   procedure Check_Result( conn : dexec.Database_Connection );
   
   -- === CUSTOM PROCS START ===
#for $e in $customProcs
$e 
#end for
   -- === CUSTOM PROCS END ===
   
end DB_Commons.PSQL;
