   -- 
   -- Next highest avaiable value of $adaName - useful for saving  
   --
   $functionHeader
      query               : constant String := 
         DB_Commons.Add_Schema_To_Query( "$statement" );
      cursor              : gse.Forward_Cursor;
      ai                  : $adaType;
      ps                  : gse.Prepared_Statement;
      local_connection    : Database_Connection;
      is_local_connection : Boolean;
   begin
      if( connection = null )then
         local_connection := Connection_Pool.Lease;
         is_local_connection := True;
      else
         local_connection := connection;          
         is_local_connection := False;
      end if;
      ps := gse.Prepare( query, On_Server => True );
      cursor.Fetch( local_connection, ps );
      Check_Result( local_connection );
      if( gse.Has_Row( cursor ))then
         ai := $getFunction
      end if;
      if( is_local_connection )then
         Connection_Pool.Return_Connection( local_connection );
      end if;
      return ai;
   end $functionName;

