   SAVE_PS : constant gse.Prepared_Statement := Get_Prepared_Insert_Statement;      

   $procedureHeader   
      params              : gse.SQL_Parameters := Get_Configured_Insert_Params;
      local_connection    : Database_Connection;
      is_local_connection : Boolean;
#for pr in $insertStrings:
      $pr;
#end for;
   begin
      if( connection = null )then
          local_connection := Connection_Pool.Lease;
          is_local_connection := True;
      else
          local_connection := connection;          
          is_local_connection := False;
      end if;
#if $has_pk:   
      if overwrite and $existsCheck
         $updateCall;
         if( is_local_connection )then
            Connection_Pool.Return_Connection( local_connection );
         end if;
         return;
      end if;
#end if      
#for $pr in $allParams
      $pr;
#end for;
      gse.Execute( local_connection, SAVE_PS, params );  
      Check_Result( local_connection );
      if( is_local_connection )then
         Connection_Pool.Return_Connection( local_connection );
      end if;
   end Save;
