   $procedureHeader   
   use type DB_Commons.Connection;
      local_connection : : DB_Commons.Connection;      
      c : d.Criteria;
      $tmpVariableWithAssignment;
      from_pool : Boolean;
   begin
      if( connection = DB_Commons.NULL_Conn )then
         local_connection := Connection_Pool.Lease;
         from_pool := True;
      else
         local_connection := connection;
         from_pool := False;
      end if;
      
#if $has_pk:    
      if( overwrite ) then
         $retrieveByPK;
         $existsCheck
            $updateCall;
            return;
         end if;
      end if;
#end if      
#for $cr in $allCriteria:
      $cr;
#end for;
      declare
         query : constant String := INSERT_PART & " ( "  & d.To_Crude_Array_Of_Values( c ) & " )";
      begin
         Log( "save; executing query" & query );
         gse.Execute( local_connection, query );
         Check_Result( local_connection );
      end;   
      if( from_pool )then
         local_connection.Commit;
         Check_Result( connection );
         Connection_Pool.Return_Connection( local_connection );
      end if;
   end Save;

