   $procedureHeader
      params              : gse.SQL_Parameters := Get_Configured_Insert_Params( Update_Order => True );
      ps                  : gse.Prepared_Statement := Get_Prepared_Update_Statement;      
      local_connection    : Database_Connection;
      is_local_connection : Boolean;
#for pr in $insertStrings:
      $pr;
#end for;
   begin
      if( connection = null )then
          local_connection := Connection_Pool.Lease;
          is_local_connection := True;
      else
          local_connection := connection;          
          is_local_connection := False;
      end if;

#for $pr in $allParams
      $pr;
#end for;
      
      gse.Execute( local_connection, query, params );
      Check_Result( local_connection );
      if( is_local_connection )then
         Connection_Pool.Return_Connection( local_connection );
      end if;
   end Update;

